image: node:20

definitions:
  caches:
    node: ~/.npm
  steps:
    - step: &build
        name: Build & Lint
        caches:
          - node
        script:
          - corepack enable
          - pnpm install --frozen-lockfile
          - pnpm lint
          - pnpm build
    - step: &vercel-deploy
        name: Deploy to Vercel
        deployment: production
        caches:
          - node
        script:
          - corepack enable
          - pnpm install --frozen-lockfile
          - pnpm build
          - pnpm dlx vercel@latest deploy --prebuilt --token $VERCEL_TOKEN --yes --scope $VERCEL_SCOPE --project $VERCEL_PROJECT
pipelines:
  default:
    - step: *build
  branches:
    main:
      - step: *build
      - step: *vercel-deploy
